<script src="/js/config.js"></script>
<!-- build:js /js/libs.js -->
<!-- bower:js -->
<% if (includeBootstrap) { %><script src="/libs/bootstrap/assets/javascripts/bootstrap.js"></script><% } %>
<!-- endbower -->
<!-- endbuild -->
