<script src="/js/config.js"></script>
<!-- build:js /js/libs.js -->
<!-- bower:js-->
<% if (includeBootstrap) { %><script src="/libs/bootstrap/assets/javascripts/bootstrap.js"></script><% } %>
<!-- endbower -->
<script src="/bower_components/angular-i18n/angular-locale_<%= projectLanguage %>.js"></script>
<!-- endbuild -->
<!-- build:js /js/scripts.js -->
<script src="/js/angular/modules/<%= fileProjectName %>.js"></script>
<script src="/js/angular/controllers/example.js"></script>
<script src="/js/angular/services/example.js"></script>
<script src="/js/angular/directives/example.js"></script>
<script src="/js/angular/filters/example.js"></script>
<script src="/js/angular/interceptors/example.js"></script>
<script src="/js/angular/transformers/example.js"></script>
<script src="/js/angular/modules/<%= fileProjectName %>-config.js"></script>
<script src="/js/angular/modules/<%= fileProjectName %>-run.js"></script>
<!-- endbuild -->
